  <div>
    Raw data can be found at
    <a href="https://www.ghmc.gov.in/covid_details.aspx#">GHMC Covid Details</a> website.
  </div>
  <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Mandal</th>
        <th>Patient Name</th>
        <th>Gender</th>
        <th>Ward</th>
        <th>Circle</th>
        <th>Zone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records">
        <td>{{ record.mandal }}</td>
        <td>{{ record.patientId }}</td>
        <td>{{ record.gender }}</td>
        <td>{{ record.ward }}</td>
        <td>{{ record.circle }}</td>
        <td>{{ record.zone }}</td>
      </tr>
    </tbody>
</table> -->
